# Development
pylint==2.7.4

# Dependencies
python-dateutil==2.8.1
PySide2==5.15.2
Send2Trash==1.5.0
sqlalchemy==1.4.9
appdirs==1.4.4
zc.lockfile==2.0
packaging==20.9
certifi==2020.12.5

# Packaging
pyinstaller==4.3
dmgbuild==1.4.2
